/* Header */
.header{ display: flex; justify-content: space-between; align-items: center; position: fixed; top: 0; left: 0; z-index: 999; width: 100%; height: 60px; padding: 20px; background: #fff; border-bottom: 1px solid #ddd; }
.header .logo{ font-family: 'GmarketSansBold'; font-size: 18px; }
.header .utilLink{ margin-left: 15px; font-family: 'GmarketSansMedium'; font-size: 14px; }







