/* Header */
.header{ display: flex; justify-content: space-between; align-items: center; position: fixed; top: 0; left: 0; z-index: 999; width: 100%; height: 60px; padding: 20px; background: #fff; border-bottom: 1px solid #ddd; }
.header .logo{ font-family: 'GmarketSansBold'; font-size: 20px; }
.header .utilLink{ margin-left: 15px; font-size: 14px; }


/* container */
.container{ padding: 20px 15px; padding-top: 60px; }
section{ overflow: hidden; margin: 20px 0; padding: 30px 15px; background: #fff; border-radius: 20px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);  }
.cmTitle{ margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #ddd; font-family: 'GmarketSansBold'; font-size: 17px; }

.skillListWrap{ margin-bottom: 40px; }
.skillList{ text-align: left; }
.skillList li{ display: inline-block; margin: 2px;  }
.skillList li a{ display: block; padding: 10px 15px; border-radius: 30px; font-size: 13px;  }

.studyList li{ margin-bottom: 5px; }
.studyList li a{ display: block; padding: 15px; border: 1px solid #ddd; border-radius: 5px; font-size: 14px; font-weight: 400; color: #333; }
.studyList li a .title{ display: inline-block; max-width: calc(100% - 35px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } 
.studyList li a .date{ float: right; font-size: 12px; }

.studyTbl{ width: 100%; border-top: 1px solid #ddd; }
.studyTbl tr{ border-bottom: 1px solid #ddd; }
.studyTbl th{ padding: 10px; border-right: 1px solid #ddd; font-size: 14px; color: #333; white-space: nowrap; }
.studyTbl td{ padding: 10px; border-right: 1px solid #ddd; font-size: 13px; color: #666; vertical-align: middle; }
.studyTbl td.finChk{ text-align: center; }
.studyTbl th:last-child{ border-right: 0; }
.studyTbl td:last-child{ border-right: 0; }
.studyTbl tr.off{ background: #f2f2f2; }

.cmTitle{ overflow: hidden; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #ddd; font-family: 'GmarketSansBold'; font-size: 17px; }
.btnDel{ display: block; float: right; padding: 8px 10px 5px; background: #ffac78; border-radius: 5px; font-size: 13px; font-weight: 400; color: #fff; text-align: center; }
.btnAddLecture{ display: block; float: right; margin-top: 10px; padding: 8px 10px 5px; background: #ff944d; border-radius: 5px; font-size: 13px; font-weight: 400; color: #fff; text-align: center; }


/*** 폼태그 ***/
/* 폼태그 기본 */
input[type="text"]{ width: 100%; height: 45px; margin-bottom: 10px; padding: 10px; border: 1px solid #ddd; border-radius: 5px; font-size: 14px; font-weight: 400; color: #666; }
input[type="number"]{ width: 100%; height: 45px; margin-bottom: 10px; padding: 10px; border: 1px solid #ddd; border-radius: 5px; font-size: 14px; font-weight: 400; color: #666; }
input[type="password"]{ width: 100%; height: 45px; margin-bottom: 10px; padding: 10px; border: 1px solid #ddd; border-radius: 5px; font-size: 14px; font-weight: 400; color: #666; }
input[type="email"]{ width: 100%; height: 45px; margin-bottom: 10px; padding: 10px; border: 1px solid #ddd; border-radius: 5px; font-size: 14px; font-weight: 400; color: #666; }
input[type="tel"]{ width: 100%; height: 45px; margin-bottom: 10px; padding: 10px; border: 1px solid #ddd; border-radius: 5px; font-size: 14px; font-weight: 400; color: #666; }
input::placeholder{ font-size: 14px; font-weight: 400; color: #999; letter-spacing: -1px; } 
input:focus{ border-color: #ffd3b8; }
select{ width: 100%; height: 45px; padding: 10px; margin-bottom: 10px; padding-right: 30px; border: 1px solid #ddd; border-radius: 5px; font-size: 14px; font-weight: 400; color: #666; }
textarea{ width: 100%; height: 200px; padding: 10px; border: 1px solid #ddd; border-radius: 5px; font-size: 14px; font-weight: 300; color: #666; line-height: 1.5; resize: none; }
textarea.half{ height: 150px; }
textarea::placeholder{ font-size: 14px; font-weight: 400; color: #999; }
.btnSmt{ width: 100%; height: 45px; background: #ff8437; border: 0; border-radius: 5px; font-size: 15px; font-weight: 500; color: #fff; text-align: center; }
/* 폼태그 내용 */
.formtagTit{ display: block; margin-bottom: 10px; font-size: 15px; font-weight: 500; }
.formtagBox{}